# Elexon API
ELEXON_BASE_URL=https://data.elexon.co.uk/bmrs/api/v1

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=gb_energy
POSTGRES_USER=
POSTGRES_PASSWORD=

# Application
APP_ENV=development
